<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-danger"  (click)="goBack()">Return to HomePage</button>
    </div>
</div>

<h1>Sporting Goods</h1>
<ul>
  <ng-container *ngFor="let collection of collections">
      <li *ngIf="(collection.theVisibility == true)">
        <span> {{ collection.name }} <button type="submit" (click)="getDetails(collection.name)">Get Collection Details</button> </span>
            <div id="{{collection.name}}" style="display: none;">
            Description: {{ collection.theDescription }}
            <br>
            Owner: {{ collection.ownerName }}
            <br>
            Items:
            <br>
            <br>
                <ng-container *ngFor="let myproduct of myproducts">
                    <p *ngIf="myproduct.name == collection.name">
                        Product: {{ myproduct.prodName }}
                        <br>
                        Quantity: {{ myproduct.prodQuantity }}
                    </p>
                </ng-container>
            </div>
            <br>
            <hr>
      </li>
  </ng-container>
</ul>
