<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Sporting Goods</a>
        </div>
        
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <ng-container *ngIf="authService.isAuthenticated()">
                    <li *ngIf="authService.isManager()"><a>Manager Account</a></li>
                </ng-container>
                <li routerLinkActive="active" *ngIf="authService.isAuthenticated()"><a routerLink="/recipes">Recipes</a></li>
                <li routerLinkActive="active" *ngIf="authService.isAuthenticated()"><a routerLink="/shopping-list">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ng-template [ngIf]="!authService.isAuthenticated()">
                    <li><a routerLink="/signup">Register</a></li>
                    <li><a routerLink="/signin" (click)="refreshCart()">Login</a></li>
                </ng-template>
                <li><a style="cursor: pointer;" (click)="onLogout()" *ngIf="authService.isAuthenticated()">Logout</a></li>
                <li class="dropdown" appDropdown>
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Policies <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" (click)="viewPrivacy()">Security & Privacy Policy</a></li>
                        <li><a style="cursor: pointer;" (click)="viewTakedown()">DMCA Notice & Takedown Policy</a></li>
                        
                        <ng-container *ngIf="authService.isAuthenticated()">
                        <li><a *ngIf="authService.isManager()" (click)="logStuff()"style="cursor: pointer;">Log Requests</a></li>
                        </ng-container>
                        
                        <ng-container *ngIf="authService.isAuthenticated()">
                        <li><a *ngIf="authService.isManager()" (click)="manageComments()"style="cursor: pointer;">Manage Comments</a></li>
                        </ng-container>
                        
                        <ng-container *ngIf="authService.isAuthenticated()">
                        <li><a *ngIf="authService.isManager()" (click)="deactivateAccounts()"style="cursor: pointer;">Deactivate Accounts</a></li>
                        </ng-container>
                        
                        <ng-container *ngIf="authService.isAuthenticated()">
                        <li><a *ngIf="authService.isManager()" (click)="makeManager()"style="cursor: pointer;">Make A Manager</a></li>
                        </ng-container>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
