<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-info" (click)="goBack()">Return to HomePage</button>
    </div>
</div>

<div>When you receive a takedown notice or request, make sure you log it down below.</div>
<div>If you wish to disable the comment that has caused this dispute, please go to the manage comments link in the dropdown menu above.</div>

<h1>DMCA Takedown Procedure and Logging Requests, Notices and Disputes</h1>

<div class="row">
    <div class="col-xs-12">
    <ul class="list-group">
  <ng-container *ngFor="let dmca of dmcas; let i = index">
      <li class="list-group-item" *ngIf="(dmca.type == 'dmca')">
        {{ dmca.info }} 
      </li>
  </ng-container>
</ul>
</div>
</div>
<hr>
<textarea type="text" #description class = "form-control" rows="3"></textarea>
<button class="btn btn-success"type="submit" (click)="savePolicy(description.value )">Log Request, Notice or Dispute</button>
