<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-danger" (click)="leaveHere()">Cancel</button>
    </div>
</div>
<br>
<hr>
<div class="row">
    <div class="col-xs-12">
        <button *ngIf="ledesc.length != 0" type="submit" (click)="addComment(leprod.value,lerate.value,ledesc.value)">Save Review</button>
    </div>
</div>
<h3>Add A Review:</h3>

<input #leprod type="text"/>Product Name
<hr>
<input #lerate type="number" max='6' min='0' value='5'/>Rating
<hr>
<textarea type="text" #ledesc class = "form-control" rows="4"> </textarea>






