<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-info" (click)="goBack()">Return to HomePage</button>
    </div>
</div>

<h1>Security and Privacy Policy</h1>


<div class="row">
    <div class="col-xs-12">
    <ul class="list-group">
  <ng-container *ngFor="let dmca of dmcas; let i = index">
      <li class="list-group-item" *ngIf="(dmca.type == 'security')">
        {{ dmca.info }} 
        <ng-container *ngIf="authService.isAuthenticated()">
            <div *ngIf="authService.isManager()">
            <hr>
            <input *ngIf="authService.isManager()" type="text" #desc />

            <br>
            <button class="btn btn-success" type="submit" (click)="savePolicy(i, desc.value)">Save Security and Privacy Policy</button>
            </div>
        </ng-container>
      </li>
  </ng-container>
</ul>
</div>
</div>


